@media (min-width: 700px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 700px) {
  nav {
    height: 60px;
  }

  nav li a {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menuButton h1 {
    font-size: 50px;
  }

  .home-title_left h2 {
    font-size: 30px;
    padding: 90px 40px 90px 40px;
  }

  .about-text p {
    font-size: 20px;
    width: 100%;
    padding-bottom: 90px;
  }

  .social-media {
    font-size: 30px;
  }
}