@media (min-width: 700px) {
  .burger-menu {
    display: none;
  }

  .skill-card {
    margin: 70px;
  }
}

@media (max-width: 700px) {
  nav {
    height: 60px;
  }

  nav li a {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menuButton h1 {
    font-size: 50px;
  }

  .home-title_left h2 {
    font-size: 40px;
    padding: 90px 40px 90px 40px;
  }

  .about-text p {
    font-size: 25px;
    width: 100%;
    padding-bottom: 90px;
  }

  .social-media {
    font-size: 30px;
  }

  .cards-skills {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}