* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: #212529;
  box-shadow: 0px 5px 10px red
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(183, 0, 255), #0084ff);
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url(./media.css);

/* Body start */
body {
  background-color: rgb(23, 23, 23);
}

/* NAVBAR */
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 75px;
  padding: 0 100px;
  background: rgba(0, 0, 0, 0.309);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.265);
  border-bottom: 2px solid #008cff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hamburger {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: block;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 200;
  padding: 10px 25px;
  border-radius: 50px;
  color: #fff;
  transition: .2s;
  margin: 0 5px;
}

.navbar ul li a:hover {
  color: #151515;
  background-color: #ffffff;
}

.navbar ul li a.active {
  color: #151515;
  background-color: #ffffff;
}

/* HOME PAGE */
.home-page {
  min-height: 100vh;
  background-image: url(./cosbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* HOME-TITLE */
.home-title {
  position: absolute;
  min-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 230px;
}

.home-title_left h2 {
  font-size: 59px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background: linear-gradient(9deg, #9000ff, rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ABOUT ME*/
.about-page {
  box-shadow: 0 0 200px #8800ff;
  margin: 0 auto;
  min-height: 100vh;
}

.about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-text h1 {
  font-size: 40px;
  color: rgb(239, 239, 239);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 90px;
  padding-bottom: 15px;
  border-bottom: 4px solid rgb(106, 17, 106);
}

.about-text p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(239, 239, 239);
  padding: 50px;
  width: 90%;
}

/* ABOUT CARD */
.about-card {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-about-reverse img {
  padding: 20px;
  border-radius: 30px;
  animation-direction: alternate-reverse;
  animation-name: SHER;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.card-about img {
  padding: 20px;
  border-radius: 30px;
  animation-direction: alternate;
  animation-name: SHER;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes SHER {
  0% {
    transform: translateY(-10%);
  }

  25% {
    transform: translateY(-8%);
  }

  50% {
    transform: translateY(-6%);
  }

  75% {
    transform: translateY(-4%);
  }

  100% {
    transform: translateY(-0);
  }
}

/* SKILLS PAGE */
.skills-page {
  min-height: 100vh;
  /* 
  background-image: url(./BG-COS.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   */

}

.skill-title h1 {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 90px;
}

/* SKILLS CARD */
.cards-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.skill-card {
  width: 300px;
  height: 390px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.57);
  transition: .5s;
}

.skill-card:hover {
  transform: scale(1.10);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.545);
  z-index: 200;
}

.icon-box img {
  width: 132px;
  margin-left: 80px;
  margin-top: 30px;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 28) / 100);
  stroke: rgba(45, 212, 191, 1);
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-span {
  font-size: 40px;
  color: rgba(45, 212, 191, 1);
}

.percent-2 {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent-2 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent-2 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent-2 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent-2 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 84) / 100);
  stroke: rgba(45, 212, 191, 1);
}

.percent-2 .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent-2 .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-2-span {
  font-size: 40px;
  color: rgba(45, 212, 191, 1);
}

.percent-3 {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent-3 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent-3 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent-3 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent-3 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 88) / 100);
  stroke: rgba(45, 212, 191, 1);
}

.percent-3 .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent-3 .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-3-span {
  font-size: 40px;
  color: rgba(45, 212, 191, 1);
}

/* YOUTUBE */
.Youtube-page {
  min-height: 120vh;
}

.video-youtube {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.video-youtube iframe {
  width: 540px;
  height: 305px;
  margin: 30px;
}

.title-youtube {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 90px;
}

.account-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.account-youtube h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 30px;
}

.logo-youtube img {
  border-radius: 50%;
  width: 100px;
}

.subscribe a {
  font-size: 20px;
  font-family: sans-serif;
  padding: 16px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  background-color: rgb(229, 8, 8);
  transition: .4s;
}

.subscribe a:hover {
  background: linear-gradient(9deg, #9000ff, #2b2b2b);
}

/* FOOTER */
footer {
  background-color: #151515;
  width: 100%;
  height: 100%;
}

.footer-content {
  padding: 30px 0 30px 0;
}

.footer-title {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-title h2 {
  font-size: 23px;
  padding-bottom: 20px;
  color: rgb(0, 174, 255);
  background: linear-gradient(9deg, #9000ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-title p {
  font-size: 18px;
  background: linear-gradient(9deg, #9000ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.social-media {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  padding: 20px;
  color: rgb(255, 255, 255);
  transition: .5s;
}

.social-media a:hover {
  background: linear-gradient(9deg, #a200ff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}