@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: #212529;
  box-shadow: 0px 5px 10px red
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(183, 0, 255), #0084ff);
  border-radius: 10px;
}

::selection {
  background-color: #1aff00f1;
  color: #0c1422;
  -webkit-text-stroke: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url(./media.css);

/* Body start */
body {
  background-color: rgb(13, 16, 25);
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  width: 100vw;
  height: 75px;
  background-color: rgba(13, 23, 35, 0.489);
  backdrop-filter: blur(11.7px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.228);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.hamburger {
  display: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.4s;
}

.nav-links li a:hover {
  color: #73ff00;
}

/* HOME PAGE */
.home-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(20, 6, 39, 0.848), rgba(0, 0, 0, 0.439)), url(./Images/man-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* HOME-TITLE */
.home-title {
  padding: 80px 0;
  text-align: center;
}

.home-title_left h2 {
  font-size: 3.7rem;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 0.4rem;
}

.home-title_left p {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.home-title_left span {
  color: #8decff;
}

/* ABOUT ME*/
.about-page {
  min-height: 100vh;
}

.about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-text h1 {
  font-size: 40px;
  color: rgb(239, 239, 239);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-top: 90px;
  padding-bottom: 15px;
  border-bottom: 4px solid #73ff00;
}

.about-text p {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(239, 239, 239);
  padding: 35px;
  width: 90%;
}

/* ABOUT CARD */
.about-card {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-about-reverse img,
.card-about img {
  margin: 20px;
  border-radius: 30px;
}

@media (min-width: 1260px) {
  .about-card {
    padding-top: 65px;
    padding-bottom: 50px;
  }

  .card-about-reverse img {
    border-radius: 30px;
    animation-direction: alternate-reverse;
    animation-name: SHER;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }

  .card-about img {
    border-radius: 30px;
    animation-direction: alternate;
    animation-name: SHER;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  }

  @keyframes SHER {
    0% {
      transform: translateY(-10%);
    }

    25% {
      transform: translateY(-8%);
    }

    50% {
      transform: translateY(-6%);
    }

    75% {
      transform: translateY(-4%);
    }

    100% {
      transform: translateY(-0);
    }
  }
}

/* SKILLS PAGE */
.skills-page {
  min-height: 100vh;
  /* 
  background-image: url(./BG-COS.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   */

}

.skill-title h1 {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 90px;
}

/* SKILLS CARD */
.cards-skills {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  flex-wrap: wrap;
}

.skill-card {
  width: 300px;
  height: 390px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.57);
  transition: .5s;
}

.skill-card:hover {
  transform: scale(1.10);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.545);
  z-index: 200;
}

.icon-box img {
  width: 132px;
  margin-left: 80px;
  margin-top: 30px;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 34) / 100);
  stroke: rgb(85, 0, 255);
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-span {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.percent-2 {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent-2 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent-2 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent-2 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent-2 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 84) / 100);
  stroke: rgb(85, 0, 255);
}

.percent-2 .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent-2 .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-2-span {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.percent-3 {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent-3 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent-3 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent-3 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent-3 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 88) / 100);
  stroke: rgb(85, 0, 255);
}

.percent-3 .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent-3 .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-3-span {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.percent-4 {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: 70px;
  margin-top: 40px;
}

.percent-4 svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.percent-4 svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.percent-4 svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;

}

.percent-4 svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 20) / 100);
  stroke: rgb(85, 0, 255);
}

.percent-4 .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
}

.percent-4 .number h2 {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.percent-4-span {
  font-size: 40px;
  color: rgb(255, 255, 255);
}

/* YOUTUBE */
.Youtube-page {
  min-height: 120vh;
}

.video-youtube {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 80px;
}

.video-youtube iframe {
  width: 540px;
  height: 305px;
  margin: 30px;
}

.title-youtube {
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding-top: 90px;
}

.account-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.account-youtube h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 30px;
}

.logo-youtube img {
  border-radius: 50%;
  width: 120px;
}

.youtube-btn {
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 15px 50px;
  margin-bottom: 50px;
  border-radius: 40px;
  color: white;
  text-decoration: none;
  background-color: rgb(245, 12, 12);
  transition: 0.4s;
}

.youtube-btn:hover {
  background-color: #f3f3f3;
  color: #0c1422;
}

/* FOOTER */
footer {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

.footer-content {
  padding: 30px 0 30px 0;
}

.footer-title {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.footer-title h2 {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 20px;
  color: rgb(20, 20, 20);
}

.footer-title a {
  font-size: 18px;
  line-height: 1.8rem;
  color: #6600ff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
}

.footer-title a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: #6600ff;
  transition: width 0.4s;
}

.footer-title a:hover::before {
  width: 100%;
}

.social-media {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  padding: 20px;
  color: rgb(17, 17, 17);
  transition: .5s;
}

.social-media a:hover {
  color: #6600ff;
}